<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add form</title>
</head>
<body>
  <form action="<%= insult ? `/insults/${insult.id}` : '/insults' %>" method="POST">
    <input type="text" name="text" placeholder="text" value="<%= insult ? insult.text : '' %>">
    <input type="text" name="origin" placeholder="origin" value="<%= insult ? insult.origin : '' %>">
    <input type="number" min="1" max="10" name="severity" placeholder="severity" value="<%= insult ? insult.severity : '' %>">
    <button>Sumbit</button>

  </form>
</body>
</html>